@model IEnumerable<SAT.DATA.EF.Cours>

@{
    ViewBag.Title = "Sith Courses";
}
<br /><br />
<br /><br />



<h2 class="gallery-title text-center">@ViewBag.Title</h2>
@if (User.IsInRole("Admin") && Request.IsAuthenticated)
{
<div class="d-flex justify-content-center">
    <a href="@Url.Action("Active","Cours")" style="padding-right: 2rem;">Active Classes</a>
    <a href="@Url.Action("NotActive","Cours")" style="padding-right: 2rem;">Retired Classes</a>
    @Html.ActionLink("Create New", "Create")
</div>
 

}

<div class="grid-bg">
    <div id="productGrid" class="row d-flex justify-content-center">

        @foreach (var item in Model)
        {

            <div class="card col-md-3" style="width: 18rem; margin: 2%;">
                <div class="other-border">

                    @*<img src="~/Content/imgStore/t_@item.PhotoURL" alt="@item.CourseName" @*style="height:; width:;"*@

                    <div class="card-body">
                        <h5 class="card-title">@item.CourseName</h5>
                        <hr />
                        <p class="card-text">Curriculum: @item.Curriculum</p>
                        <p class="card-info">Credit Hours: @item.CreditHours </p>
                        @*<p class="card-info">@item.CourseDescription</p>*@
                    </div>
                </div>
                @if (User.IsInRole("Admin") && Request.IsAuthenticated)
                {
                    <a href="@Url.Action("Details","Cours", new { id=item.CourseId})">
                        Details
                    </a>
                    @Html.ActionLink("Edit", "Edit", new { id = item.CourseId })
                    @Html.ActionLink("Delete", "Delete", new { id = item.CourseId })
                }
            </div>
        }
    </div>
</div>
