@model IEnumerable<SAT.DATA.EF.Student>

@{
    ViewBag.Title = "Students";
}
<br /><br />
<br /><br />

@if (User.IsInRole("Admin") && Request.IsAuthenticated)
{
    <div class="text-center">
        @Html.ActionLink("Create New", "Create")
        <a href="@Url.Action("Index","Students")" style="padding-left: 2rem;">Table View</a>
    </div>
}
else
{
    <div class="text-center">
        <a href="@Url.Action("Index","Students")" class="">Table View</a>
    </div>
}
<br /><br />




<div class="grid-bg">
    <div id="productGrid" class="row">

        @foreach (var item in Model)
        {

            <div class="card col-md-3" style="width: 18rem; margin: 2%;">
                <div class="other-border">
                    <a href="@Url.Action("Details","Students", new { id=item.StudentId})"> <img src="~/Content/imgStore/@item.PhotoUrl" alt="Student" title="@item.FirstName" style="height:300px; width:100%" /></a>
                    <div class="card-body">
                        <h5 class="card-title">@item.FirstName @item.LastName</h5>
                        <hr />
                        <p class="card-text">@item.Major</p>
                        <p class="card-info">@item.Email </p>
                        <p class="card-info">@item.Phone</p>
                    </div>
                </div>
            </div>

        }
        <br/><br/>
        <br/><br/>
    </div>
</div>
